.wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
}

nav{
    background-color: aquamarine;
}

main{
    background-color: rgb(63, 181, 141);
}

.siderbar{
    background-color: rgb(33, 137, 102);
}

#content-1{
    background-color: rgb(35, 119, 91);
}

#content-2{
    background-color: rgb(51, 103, 86);
}

#content-3{
    background-color: rgb(59, 85, 77);
}

footer{
    background-color: rgb(122, 171, 154);
}